__pycache__
.env
.idea
.fleet
Grace.egg-info
venv
channel_store
build/
*.db
*.db-shm
*.db-wal
*.log
*.log.*
env/
lib64
.mypy_cache/
.ruff_cache/
.pytest_cache
tmp
.coverage
.python-version
.venv
.vscode