name: Staging Deployment

on:
  pull_request_target:
    types: [opened, reopened, synchronize, closed]

jobs:
  deploy:
    # if the PR is merged, don't run the deployment
    if: github.event.pull_request.merged != true
    concurrency:
      group: staging-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Checkout target branch
        uses: actions/checkout@v4

      - name: Fetch PR branch
        run: |
          git fetch origin pull/${{ github.event.pull_request.number }}/head:pr-${{ github.event.pull_request.number }}
          git checkout pr-${{ github.event.pull_request.number }}

      - name: Install Railway CLI
        run: curl -fsSL https://railway.app/install.sh | sh

      - name: Deploy to Staging
        run: railway up --environment staging --service Grace
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
